# Integrated Dev Env files
**/.idea
**/.DS_Store

# Logs
**/*.log

#package lock file
./package-lock.json

# Runtime data
*.pid

# Grunt intermediate storage
.grunt

# Npm cache directory
.npm

# Dependency directories
node_modules

#Run-time test reports
coverage
